@page "/counter"
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        currentCount = await sessionStorage.GetItemAsync<int>("Counter");
    }

    private void IncrementCount()
    {
        currentCount++;
        sessionStorage.SetItemAsync("Counter", currentCount);
    }
}
