@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
@inject AuthenticationStateProvider _auth
@inject NavigationManager navigationManager

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <AuthorizeView>
        <Authorized>
            <div class="top-row px-6">
                <label style="padding-top:0.5em;">Welcome, @context.User.Identity.Name</label>
                <a href="/" @onclick="Logout">Logout</a>
            </div>
        </Authorized>
        <NotAuthorized>
            @*<div class="top-row px-4">
                    <a href="" target="_blank">Login</a>
                </div>*@
        </NotAuthorized>
    </AuthorizeView>

    <div class="container" style="
        height: 100%;
        vertical-align: middle;
        margin: auto;
        /*top:50%; vertical align item to middle*/
        position:absolute;">
        @Body
    </div>
</div>
<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="10"
                IconType="IconType.Material"
                SuccessClass="success-toast-override"
                ShowProgressBar="true"
                RemoveToastsOnNavigation="true" />
@code{
    private void Logout()
    {
        ((AuthStateProvider)_auth).LogoutUser();
        navigationManager.NavigateTo("/");
    }
}